{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Caixa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'cashier/style.css' %}"/>
        <script defer src="{% static 'cashier/index.js' %}"></script>
    </head>
    <body>
        <section class="container">
            <h1 class="title">Caixa</h1>
            <form id="form">
                <label>Código:</label>
                <input id="code-input" type="number" name="code" required>
                <label>Produto:</label>
                <input id="name-input" type="text" readonly>
                <label>Preço:</label>
                <input id="price-input" type="number" readonly>
            </form>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Código</th>
                            <th>Preço</th>
                        </tr>
                    </thead>
                    <tbody id="product-table-body">
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
